<div class="flex flex-col lg:flex-row h-screen w-screen dark:bg-[#0f141c]">
  <!-- Sidebar usuario -->
  <div class="lg:h-screen w-full lg:w-[300px]">
    <app-user-sidecar [username]="username"></app-user-sidecar>
  </div>
  <!-- Lista repositorios -->
  <div class="flex-1 overflow-y-auto">
    <!-- Filtro de usuario (username) -->
    <div class="mb-6 py-3 px-10 ring-1 ring-gray-500/20 fixed z-10 bg-white w-full dark:bg-[#0f141c]">
      <app-user-filter
        [error]="searchError"
        (search)="onSearchUsername($event)"
        (clearError)="clearSearchError()"
      ></app-user-filter>
    </div>
    <div class="px-10 py-6 mt-20">
      <div class="mb-4 flex gap-4 flex-wrap">
        <input type="text" placeholder="Filtrar por nombre" [(ngModel)]="nameFilter" (ngModelChange)="applyFilters()"
          class="h-10 flex-1 bg-transparent outline-none ring-1 ring-inset ring-gray-500/20 placeholder-gray-400 rounded-lg px-4 text-base text-gray-800 dark:text-white border-none focus:ring-1 focus:ring-inset focus:ring-gray-500/20 transition"
          autocomplete="off" />
        <div class="relative w-56">
          <select [(ngModel)]="languageFilter" (ngModelChange)="applyFilters()"
            class="h-10 w-full bg-transparent outline-none ring-1 ring-inset ring-gray-500/20 text-base text-gray-800 dark:text-white placeholder-gray-400 rounded-lg px-2 pr-10 border-none focus:ring-1 focus:ring-inset focus:ring-gray-500/20 transition appearance-none">
            <option value="">Todos los lenguajes</option>
            <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
            <svg class="w-4 h-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
      <div *ngIf="errorMsg" class="text-red-500 font-medium mb-4">
        {{ errorMsg }}
      </div>
      <div *ngIf="filteredRepos.length > 0; else noRepos"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-repo-card
          *ngFor="let repo of filteredRepos"
          [repo]="repo"
          [languageColors]="languageColors">
        </app-repo-card>
      </div>
      <ng-template #noRepos>
        <p class="text-gray-500 mt-10 text-center">No hay repositorios públicos para este usuario.</p>
      </ng-template>
    </div>
  </div>
</div>
